.braeco-input {
    border: solid 1px #979797;
    .rounded-corners(5px);
    font-size: 18px;
    padding: 12px;
    line-height: 25px;
    background-color: #fff;
    &.block {
        display: block;
        width: calc(~"100% - 24px");
    }
    &:focus {
        outline: none;
    }
}
